 <header class="header">
    <h1 class="margin-left">Ruby on Rails スケジュール管理アプリ</h1>
  </header>
 
 <h3 class="margin-left margin-top">スケジュール新規作成</h3>
    <%= render "shared/error", obj: @welcomes %>    
    <%= form_with model:@welcome do |f| %>

      <table class="margin-left">
        <tr>
          <th><%= f.label :title ,"タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>
 
        <tr>
          <th><%= f.label :hajime ,"開始日" %></th>
          <td><%= f.date_field :hajime %></td>
        </tr>
        
        <tr>
          <th><%= f.label :owari ,"終了日" %></th>
          <td><%= f.date_field :owari %></td>
        </tr>
 
        <tr>
          <th><%= f.label :syuujitu ,"終日" %></th>
          <td><%= check_box_tag :syuujitu ,"〇" %> 
          <%= f.label :syuujitu ,"終日の場合はチェックを入れます" %>
          </td>
        </tr>
 
        <tr>
          <th><%= f.label :memo ,"スケジュールメモ" %></th>
          <td><%= f.text_area :memo %></td>
        </tr>
      </table>
      
      <div class="margin-left">
        <ul>
          <li><%= f.submit "スケジュールを登録完了する" %></li>
          <li><%= link_to "スケジュール一覧にもどる" ,:welcomes_start %></li>
        </ul>
      </div>
    <% end %>
    
    <footer class="footer">
    <h1 class="margin-left">現在の日時 : <%= Date.current.strftime('%Y年%m月%d日') %>
    </h1>
  </footer>